  main {
    background: #000;
    font-family: "Poppins", sans-serif;

    .scroller {
      position: relative;
      top: -20px;
      left: 48%;
      cursor: pointer;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #242424;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    }

    .footer {
      padding: 5rem 10rem;
      display: grid;
      gap: 40px;
      justify-content: center;
      border-top: 1px solid #8080802e;

      >div {
        flex: 1 1 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
      }

      .logo {
        align-items: center;

        img {
          width: 15rem;
        }

        h1 {
          color: #000;
          font-size: 45px;
          font-weight: 500;
          line-height: 1.2;
          text-align: center;
          text-transform: uppercase;
          margin: 0px;
        }

        div {
          display: flex;
          justify-content: center;
          gap: 20px;
          align-items: center;

          a {
            img {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
            }
          }
        }
      }

      .column {
        .links a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;

          &:hover {
            font-weight: 600;
          }
        }
      }

      .timing,
      .contact {
        h3 {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0;
          color: white;
        }

        p,
        a {
          color: white;
        }

        a {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 3rem;
          }
        }
      }

      .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 21px;

        img {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
      }

      .footer-content {
        p {
          font-size: 12px;
          margin-bottom: 1px;
        }

        a {
          font-size: 12px;
          text-decoration: none;
          color: #3273dc;
        }

        a:hover {
          color: #000;
        }
      }
    }

    .closingLiner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 20px;
      border-top: 1px solid #99999920;
      background: #fff;

      p,
      a {
        color: #000;
        margin: 0;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }


  // Tablet
  @media only screen and (max-device-width: 768px) {}

  // Mobile
  @media only screen and (max-device-width: 480px) {
    main {
      background: #263a00;

      .footer {
        padding: 10px !important;
        display: grid;
        gap: 50px;
        justify-content: center;

        .logo {
          width: 100%;

          img {
            margin: auto;
          }
        }

        .column {
          width: 100%;
          flex-direction: column;
          gap: 20px;
        }

        .timing {
          width: 100%;
        }

        .contact {
          width: 100%;

          a {
            justify-content: center;
          }
        }

        .footer-content {
          padding: 10px !important;
        }
      }

      .closingLiner {
        display: grid;
        justify-content: center;

        p,
        a {
          text-align: center;
        }
      }
    }
  }