<main [ngStyle]="{
        'background-image': 'url(' + hero.bgMainImage + ')',
        'background-size': 'cover',
        'background-position': 'center'
      }" [style]="css.footerCss">
  <div *ngIf="hero.scrollToTop" [style]="css.scrollToTopCss" (click)="scrollToTop()" class="scroller">
    ^
  </div>

  <div class="footer" [style]="css.footerBg">
    <div class="logo" [style]="css.logoDivScss" *ngIf="hero.footerLogo">
    </div>
    <h4 [style]="css.footerBrandQuoteCss" *ngIf="hero.footerTag">{{hero.footerTag}}</h4>



    <div class="contact" [style]="css.contacDetailsScss" *ngIf="hero.contacDetails">
      <a [style]="css.footerText" *ngIf="address" [href]="social.map">
        {{ address }}
      </a>
      <a [style]="css.footerText" *ngIf="address2" [href]="social.map">
        {{ address2 }}
      </a>
      <a [style]="css.footerText" *ngIf="address3" [href]="social.map">
        {{ address3 }}
      </a>
      <a [style]="css.footerText" *ngIf="contact" [href]="social.hrefPhone">
        {{ contact }}
      </a>
      <a [style]="css.footerText" *ngIf="contactNew" [href]="social.hrefPhone">
        {{ contact.phone }}
      </a>
      <a [style]="css.footerText" *ngIf="emailid" [href]="social.hrefEmail">
        {{ emailid }}
      </a>
    </div>

    <div class="social-icons" [style]="css.socialIcons" *ngIf="hero.socialIcons">
      <a target="_blank" [href]="social.google" *ngIf="social.google">
        <img
          src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/6e50da2a-1e6d-4136-bff9-8eb28c942a83_google-colorful.png" /></a>
      <a target="_blank" [href]="social.yelp" *ngIf="social.yelp">
        <img
          src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/fb3fc731-ca27-4fad-ab9e-f6051f7ad517_Yelp-Logo.png" /></a>

    </div>
  </div>

  <div class="closingLiner" [style]="css.footerClosingLiner">
    <p [style]="css.closingFooterText">
      © Copyright 2025 {{ brandName }} All rights reserved.
    </p>
    <a [style]="css.closingFooterText" target="_blank" href="https://tryantler.com/home">Powered by Antler
      Technologies</a>
  </div>
</main>