    main {
      cursor: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/949433e5-70c8-4b03-b5b5-2e13855d4ec3_Frame%2017.png'), auto !important;
      font-family: League Spartan, arial, helvetica, sans-serif;
      padding-top: 0rem;

      .label {
        background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 38%)), url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/2b2965bf-f96c-46a1-ba5e-56d2f6784c82_Banner%20images%20for%20website.jpg");
        align-items: flex-start;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 60vh;
        background-position: center;

        div {
          flex-grow: 1;
          flex-shrink: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          background: #00000040;

          h3 {
            color: white;
            font-size: 50px;
            font-weight: 600;
          }
        }
      }

      .checkout-section {
        padding: 5%;
        display: grid;
        gap: 20px;
        width: 100%;

        h3 {
          color: #513C29;
          font-style: normal;
          font-weight: 700;
          font-size: 19px;
          padding: 10px;
          text-align: center;
          text-transform: uppercase;
        }

        form {
          display: grid;
          gap: 20px;

          div {
            display: flex;
            gap: 20px;
            justify-content: space-between;

            input {
              border-radius: 8px;
              border: 1px solid lightgray;
              width: 100%;
              padding: 10px;
            }
          }


          .otp-div {
            color: #000;
            font-size: 12px;
            text-align: center;
            font-weight: 600;
          }

          .checkout-btn {
            display: grid;
            justify-content: center;
            gap: 10px;

            button {
              font-size: 14px;
              text-transform: uppercase;
              padding: 10px;
              border-radius: 6px;
              font-style: normal;
              font-weight: 700;
              color: #fff;
              background: #000;
              border: none;

              &:disabled {
                background: #464343b8;
              }
            }

            p {
              text-align: center;
              font-size: 14px;
              color: red;
            }
          }
        }
      }

      .success-section {
        display: inline-grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 20px 40px;
        background-color: #DCD8D4;

        h3 {
          color: #000;
          font-size: 40px;
          font-weight: 600;

        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: #000;

        }

        span {
          font-size: 120px;
          color: #000;
        }

        button {
          font-size: 14px;
          text-align: center;
          text-transform: uppercase;
          padding: 10px;
          border-radius: 6px;
          font-style: normal;
          font-weight: 700;
          color: #fff;
          background-color: #000;
          border: none;
        }
      }
    }

    @media only screen and (max-device-width: 480px) {
      main {
        width: 100% !important;
        padding-top: 0px;

        .label {
          padding: 10px;

          div {
            width: 100% !important;
          }
        }
      }
    }