<main>
  <div class="label">
    <div>
      <h3>Checkout</h3>
    </div>
  </div>
  <div class="checkout-section" *ngIf="!successMsg">
    <h3>CONTACT INFORMATION</h3>
    <form [formGroup]="checkOutDetails">
      <div>
        <input type="text" name="firstName" placeholder="FirstName" required formControlName="firstName" />
        <input type="text" name="lastName" placeholder="LastName" required formControlName="lastName" />
      </div>
      <div>
        <input type="number" name="phone" placeholder="Phone" required formControlName="phone" />
        <input type="email" name="email" placeholder="Email" required formControlName="email" />
      </div>
      <div>
        <input type="date" name="eventDate" formControlName="eventDate" placeholder="Date" required />
        <input type="time" name="eventTime" formControlName="eventTime" required />
      </div>
      <div>
        <input type="text" name="address" placeholder="Address" required formControlName="address" />
        <input type="text" name="city" placeholder="City" required formControlName="city" />
      </div>
      <div>
        <input type="text" name="state" placeholder="State" required formControlName="state" />
        <input type="text" name="country" placeholder="Country" required formControlName="country" />
      </div>
      <div>
        <input type="tel" name="pincode" placeholder="Pincode" required formControlName="pincode" />
      </div>
      <div class="checkout-btn">
        <p>*All fields are mandatory!</p>
        <button (click)="submitCheckOutDetailsForm()" [disabled]="!checkOutDetails.valid || isLoading">
          Checkout!
        </button>
      </div>
    </form>
  </div>
  <app-spinner *ngIf="isLoading" [isLoading]="isLoading"></app-spinner>

  <div class="success-section" *ngIf="successMsg">
    <h3>
      THANKYOU! <br />
      DO CHECK YOUR INBOX
    </h3>
    <p>Order Id: {{ cartresponse._id }}</p>
    <!-- <p>We aim to respond to your inquiries within 24-48 hours.</p> -->
    <span class="material-symbols-outlined"> check_circle </span>
    <button routerLink="/">Home</button>
  </div>
</main>