main {
    cursor: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/949433e5-70c8-4b03-b5b5-2e13855d4ec3_Frame%2017.png'), auto !important;
    background-color: #161616;
    font-family: "League Spartan", arial, helvetica, sans-serif;
    margin-top: 75px;

    .label {
        background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 38%)),
            url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/2b2965bf-f96c-46a1-ba5e-56d2f6784c82_Banner%20images%20for%20website.jpg");
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        padding: 14rem;
        background-position: 60%;
        align-items: center;
        background-attachment: fixed;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            h2 {
                font-weight: 400;
                line-height: 1.22;
                letter-spacing: 0px;
                font-size: 60px;
                line-height: 1.4;
                color: #ffffff;
                text-align: center;
            }
        }
    }

    .about-div {
        padding: 5%;

        h2 {
            color: #fff;
            font-size: 34px;
            font-weight: 600;
            text-align: center;
        }

        .points {
            display: flex;
            justify-content: center;
            padding: 20px 12em 0px;

            h4 {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }

            p {
                color: #fff;
                font-size: 16px;
                font-weight: 200;
                margin: 6px 12px;
                text-align: start;
            }
        }

        .partnering {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: #fff;
                font-size: 34px;
                font-weight: 600;
            }

            ul {
                li {
                    color: #ffffff;
                    font-size: 16px;
                }
            }
        }

        p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            width: 65%;
            text-align: center;
            margin: 20px auto;
        }

        .sub-video {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            grid-gap: 20px;
            gap: 20px;
            justify-content: center;
            margin: auto;

            video {
                height: 90vh;
                flex: 0 0 60%;
                max-width: 32%;
            }
        }
    }
}

// Mobile
@media only screen and (max-device-width: 480px) {
    main {
        .label {
            padding: 10rem 1.5rem;

            div {
                h2 {
                    font-weight: 600;
                    font-size: 36px;
                }
            }
        }

        .about-div {
            padding: 10px;

            .partnering {
                h3 {
                    font-size: 17px;
                    font-weight: 500;
                }
            }

            .points {
                padding: 1%;
                flex-direction: column;

                p {
                    width: 90%;
                    text-align: center;
                    margin: 0px auto;
                }

                h4 {
                    text-align: center;
                }
            }

            h2 {
                font-size: 24px;
            }

            ul {
                li {
                    width: 100%;
                }
            }

            p {
                width: 90%;
                text-align: center;
                margin: 0px auto;
            }

            .sub-video {
                video {
                    height: auto;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}