<main>
    <div class="label">
        <div>
            <h2>Grab & Go Momos</h2>
        </div>
    </div>
    <div class="about-div">
        <h2>{{ hero.aboutHead }}</h2>
        <p *ngFor="let i of hero.aboutContent">{{ i }}</p>
        <h2>Here's what sets us apart:</h2>
        <div class="points" *ngFor="let i of hero.aboutpoints">
            <h4>{{ i.heading }}</h4>
            <p>{{ i.para }}</p>
        </div>
        <div class="partnering">`
            <h3>Partnering with Nepali Momos Brampton means:</h3>
            <ul>
                <li *ngFor="let i of hero.partnering">{{ i }}</li>
            </ul>
        </div>
        <h2>Ready to embark on a culinary journey with us?</h2>
        <p>
            Contact our wholesale team today to discuss your specific requirements
            and discover how Nepali Momos Brampton can elevate your menu and
            satisfy your customers' taste buds.
        </p>

        <div class="sub-video">
            <video *ngFor="let i of hero.video" #myVideo autoplay [muted]="'muted'" loop>
                <source [src]="i" type="video/mp4" />
            </video>
        </div>
    </div>
</main>