<div class="container">
    <header class="topHeader">
        <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/ef8c9d05-98dc-425a-bf0f-d15540c0146b_grab-go-header.png" alt="Grab & Go Momos" class="headerBanner" />

        <!-- <div class="headerOverlay">
            <div class="brandOverlay">
                <h1>Nepali Momos Brampton</h1>
                <p>Grab & Go Momos • Ready in minutes • Includes our famed chutney</p>
            </div>

            <button class="cartOverlayBtn">
                🛒 Cart <span class="badge">{{ cartCount }}</span>
            </button>
        </div> -->
    </header>

    <div class="section-title">
        <h2>50 PCS Retail Bags</h2>
    </div>

    <section class="grid">
        <div class="card" *ngFor="let item of retail50">
            <h4>{{ item.name }}</h4>
            <div *ngIf="item.desc">{{ item.desc }}</div>
            <div class="price">{{ item.price }}</div>
        </div>
    </section>

    <div class="section-title">
        <h2>15 PCS Retail Bags</h2>
    </div>

    <section class="grid">
        <div class="card" *ngFor="let item of retail15">
            <h4>{{ item.name }}</h4>
            <div class="price">{{ item.price }}</div>
        </div>
    </section>

    <footer>
        © 2026 Nepali Momos Brampton • Grab & Go Momos
    </footer>
</div>


<!-- <main>
    <div class="label">
        <div>
            <h2>Grab & Go Momos</h2>
        </div>
    </div>
    <div class="about-div">
        <h2>{{ hero.aboutHead }}</h2>
        <p *ngFor="let i of hero.aboutContent">{{ i }}</p>
        <h2>Here's what sets us apart:</h2>
        <div class="points" *ngFor="let i of hero.aboutpoints">
            <h4>{{ i.heading }}</h4>
            <p>{{ i.para }}</p>
        </div>
        <div class="partnering">`
            <h3>Partnering with Nepali Momos Brampton means:</h3>
            <ul>
                <li *ngFor="let i of hero.partnering">{{ i }}</li>
            </ul>
        </div>
        <h2>Ready to embark on a culinary journey with us?</h2>
        <p>
            Contact our wholesale team today to discuss your specific requirements
            and discover how Nepali Momos Brampton can elevate your menu and
            satisfy your customers' taste buds.
        </p>

        <div class="sub-video">
            <video *ngFor="let i of hero.video" #myVideo autoplay [muted]="'muted'" loop>
                <source [src]="i" type="video/mp4" />
            </video>
        </div>
    </div>
</main> -->