<div class="heading" [style]="css.navbar">
  <div class="logoDesktop" [style]="css.logoDesktop">
    <a *ngIf="logo" routerLink="/">
      <img [src]="logo" [style]="css.logo" />
    </a>
  </div>

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a *ngIf="logo" routerLink="/">
        <img class="logoMobile" [src]="logo" [style]="css.logo" />
      </a>

      <button *ngIf="close" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" (click)="change()">
        <span [style]="css.icon" class="sr-only">Toggle navigation</span>
        <span [style]="css.icon" class="icon-bar"></span>
        <span [style]="css.icon" class="icon-bar"></span>
        <span [style]="css.icon" class="icon-bar"></span>
      </button>

      <button *ngIf="!close" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" (click)="change()">
        <span class="sr-only">Toggle navigation</span>
        <span [style]="css.icon" class="material-symbols-outlined">close</span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [class.in]="!close" [class.show]="!close">
      <ul class="nav navbar-nav">
        <li *ngFor="let link of links">
          <a [style]="css.navbarTextColor" *ngIf="link.type === 'internal'" queryParamsHandling="merge"
            routerLinkActive="active" class="nav-link" [routerLink]="link.link" (click)="closeMenu()">
            <span class="icon-wrapper">
              <img class="icon hover" [src]="link.hoverIcon" alt="" />
            </span>
            <span class="link-text">{{ link.text }}</span>
          </a>

          <a [style]="css.navbarTextColor" *ngIf="link.type === 'external' && !(link.options?.length)"
            [href]="link.link" (click)="closeMenu()">
            <span class="icon-wrapper">
              <img class="icon hover" [src]="link.hoverIcon" alt="" />
            </span>
            <span class="link-text">{{ link.text }}</span>
          </a>
        </li>

        <li class="icons" *ngIf="hero?.onlineOrdering?.length">
          <a target="_blank" *ngFor="let link of hero.onlineOrdering" [href]="link[1]">
            <img [src]="link[0]" alt="online ordering link">
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>
