    main {
      cursor: url('https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/949433e5-70c8-4b03-b5b5-2e13855d4ec3_Frame%2017.png'), auto !important;
      font-family: League Spartan, arial, helvetica, sans-serif;
      padding-top: 0rem;

      .label {
        background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 38%)), url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/dbffde0c-fcdc-45d8-a201-821d34e04c78_deal.jpg");
        align-items: flex-start;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 60vh;
        background-position: center;

        div {
          flex-grow: 1;
          flex-shrink: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          background: #00000040;

          h3 {
            color: white;
            font-size: 50px;
            font-weight: 600;
            text-align: center;
          }
        }
      }

      .cart-section {
        padding: 10%;
        display: grid;
        gap: 20px;
        width: 100%;

        .empty-cart-div {
          display: flex;
          flex-direction: column;
          align-items: center;

          h2 {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #adadad;
          }

          button {
            border: none;
            width: 30%;
            background: #000;
            color: white;
            border-radius: 4px;
            padding: 10px;
          }

        }

        .item-div {
          display: grid;
          grid-template-columns: 20% 40% 10% 10% 10%;
          gap: 20px;
          align-items: center;

          div {
            width: 100%;
            position: relative;
            padding: 10px;

            img {
              width: 100%;
            }

            span {
              position: absolute;
              width: 3rem;
              height: 3rem;
              top: 0px;
              background: #000;
              border-radius: 50%;
              display: flex;
              right: 0;
              justify-content: center;
              align-items: center;
              color: #ffffff;
            }
          }

          h3 {
            font-size: 22px;
            font-weight: 600;
            margin: 0px;
            text-align: center;
            text-transform: lowercase;
          }

          h3::first-letter {
            text-transform: uppercase;
          }

          p {
            margin: 0px;
          }

          button:nth-child(4) {
            display: flex;
            background-color: transparent;
            border: 1px solid lightgray;
            align-items: center;
            justify-content: space-around;
            border-radius: 4px;

            span {}

            input {
              width: 100%;
              border: none;
              text-align: center;
            }
          }

          .material-symbols-outlined {
            color: #000;
            display: flex;
            justify-content: end;
            font-variation-settings:
              'FILL' 1,
              'wght' 400,
              'GRAD' 0,
              'opsz' 48
          }
        }

        .price-div {
          display: flex;
          justify-content: end;

          p {
            font-weight: 600;

            span {
              font-weight: 900;
              color: #000;
              font-size: 20px;
            }
          }
        }

        .continue-div {
          display: flex;
          justify-content: end;

          button {
            border: none;
            width: 30%;
            background: #000;
            color: white;
            border-radius: 4px;
            padding: 10px;
          }

          button:disabled {
            background: #000;
            border: none;
          }
        }
      }
    }

    @media only screen and (max-device-width: 480px) {
      main {

        .label {
          padding: 10px;

          div {
            width: 100% !important;
          }
        }

        .cart-section {
          padding: 5%;

          .item-div {
            display: flex;
            flex-direction: column;
            //grid-template-columns: 25% 30% 10% 15% 10%;
            gap: 10px;

            p {
              font-size: 22px;
              color: #000;
              font-weight: 600;
            }
          }

          .price-div {
            justify-content: center;
          }

          button {
            width: 50%;
          }

          .continue-div {
            justify-content: center;

            button {
              width: 50%;
            }
          }
        }
      }
    }